<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_focalpoint/models/fields">
    <fieldset name="component"
              label="COM_FOCALPOINT_COMPONENT_LABEL"
              description="COM_FOCALPOINT_COMPONENT_DESC"
              addfieldpath="/administrator/components/com_focalpoint/form/fields">
        <field name="apikey"
               type="textarea"
               label="COM_FOCALPOINT_FORM_CONFIG_API_KEY_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_API_KEY_DESC"
               rows="3"/>

        <field name="mootools"
               type="list"
               layout="joomla.form.field.list-fancy-select"
               label="COM_FOCALPOINT_FORM_CONFIG_MOOTOOLS_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MOOTOOLS_DESC">
            <option value="">COM_FOCALPOINT_OPTION_IGNORE</option>
            <option value="fix">COM_FOCALPOINT_OPTION_FIX</option>
            <option value="warn">COM_FOCALPOINT_OPTION_WARN</option>
            <option value="fail">COM_FOCALPOINT_OPTION_FAIL</option>
        </field>

        <field name="customfooter"
               type="customfooter"
               media="com_focalpoint"
               showgoproad="https://www.joomlashack.com/joomla-extensions/shack-locations/"
               jedurl="https://extensions.joomla.org/extension/shack-locations/"/>

    </fieldset>

    <fieldset name="maps" label="Map / Display" description="">
        <field name="mapTypeId"
               type="list"
               default="ROADMAP"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_TYPE_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_TYPE_DESC">
            <option value="ROADMAP">COM_FOCALPOINT_OPTION_ROADMAP</option>
            <option value="SATELLITE">COM_FOCALPOINT_OPTION_SATELLITE</option>
            <option value="HYBRID">COM_FOCALPOINT_OPTION_HYBRID</option>
            <option value="TERRAIN">COM_FOCALPOINT_OPTION_TERRAIN</option>
        </field>

        <field name="mapTypeControl"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_TYPE_CONTROL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_TYPE_CONTROL_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="zoom"
               type="shacklocations.zoom"
               layout="joomla.form.field.list-fancy-select"
               label="COM_FOCALPOINT_FORM_CONFIG_ZOOM_LVL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_ZOOM_LVL_DESC"/>

        <field name="maxzoom"
               type="shacklocations.zoom"
               layout="joomla.form.field.list-fancy-select"
               label="COM_FOCALPOINT_FORM_CONFIG_MAXZOOM_LVL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAXZOOM_LVL_DESC">
            <option value="0">COM_FOCALPOINT_OPTION_AUTO</option>
        </field>

        <field name="zoomin"
               type="shacklocations.zoom"
               layout="joomla.form.field.list-fancy-select"
               default="14"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_ZOOM_LVL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_LOCATION_ZOOM_LVL_DESC">
        </field>

        <field name="zoomControl"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_ZOOM_CONTROLS_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_ZOOM_CONTROLS_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="scrollwheel"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_FOCALPOINT_FORM_CONFIG_MOUSE_ZOOM_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MOUSE_ZOOM_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="draggable"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_DRAGABLE_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_DRAGABLE_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="panControl"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_FOCALPOINT_FORM_CONFIG_PAN_CONTROL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_PAN_CONTROL_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="streetViewControl"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_STREETVIEW_CONTROL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_STREETVIEW_CONTROL_DESC">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>

        <field name="mapsizecontrol"
               type="list"
               class="chzn-single"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SIZE_CONTROL_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SIZE_CONTROL_DESC">
            <option value="0">COM_FOCALPOINT_OPTION_TEMPLATE</option>
            <option value="1">COM_FOCALPOINT_OPTION_CONFIGURATION</option>
        </field>

        <field name="mapsizex"
               type="text"
               default="100%"
               label="COM_FOCALPOINT_FORM_CONFIG_DEFAULT_WIDTH_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_DEFAULT_WIDTH_DESC"
               showon="mapsizecontrol:1"/>

        <field name="mapsizey"
               type="text"
               default="400px"
               label="COM_FOCALPOINT_FORM_CONFIG_DEFAULT_HEIGHT_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_DEFAULT_HEIGHT_DESC"
               showon="mapsizecontrol:1"/>

        <field name="legendposition"
               type="list"
               default="below"
               label="COM_FOCALPOINT_FORM_CONFIG_LEGEND_POSITION_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_LEGEND_POSITION_DESC">
            <option value="above">COM_FOCALPOINT_OPTION_POSITION_ABOVE</option>
            <option value="below">COM_FOCALPOINT_OPTION_POSITION_BELOW</option>
            <option value="right">COM_FOCALPOINT_OPTION_POSITION_RIGHT</option>
            <option value="left">COM_FOCALPOINT_OPTION_POSITION_LEFT</option>
        </field>

        <field name="sidebarx"
               type="number"
               default="25"
               min="0"
               label="COM_FOCALPOINT_FORM_CONFIG_SIDEBAR_WIDTH_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_SIDEBAR_WIDTH_DESC"
               showon="mapsizecontrol:1[AND]legendposition:left[OR]legendposition:right"/>

        <field name="locationlist"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_LIST_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_LOCATION_LIST_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="locationorder"
               type="list"
               default="ordering"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_ORDER_LBL"
               showon="locationlist:1">
            <option value="ordering">COM_FOCALPOINT_OPTION_ORDERING</option>
            <option value="title">COM_FOCALPOINT_OPTION_TITLE</option>
        </field>

        <field name="locationorderdir"
               type="list"
               default="asc"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_ORDER_DIR_LBL"
               showon="locationlist:1">
            <option value="asc">COM_FOCALPOINT_OPTION_ASC</option>
            <option value="desc">COM_FOCALPOINT_OPTION_DESC</option>
        </field>

        <field name="locationgroup"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_GROUP_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_LOCATION_GROUP_DESC"
               showon="locationlist:1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="showlistfirst"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_FOCALPOINT_FORM_CONFIG_LOCATION_LIST_TAB_FIRST_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_LOCATION_LIST_TAB_FIRST_DESC"
               showon="locationlist:1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="infobox"
              label="COM_FOCALPOINT_FORM_CONFIG_FIELDSET_INFOBOX_CONTENT_LBL"
              description="COM_FOCALPOINT_FORM_CONFIG_FIELDSET_INFOBOX_CONTENT_DESC">
        <field name="infopopupevent"
               type="hidden"
               default="click"/>

        <field name="infoshowaddress"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_INFOBOX_CONTENT_LBL">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="infoshowphone"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_INFOBOX_SHOW_PHONE_LBL">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="infoshowintro"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_INFOBOX_SHOW_INTRO_LBL">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
    </fieldset>

    <fieldset name="mapsearch" label="COM_FOCALPOINT_FORM_CONFIG_FIELDSET_MAP_SEARCH_LBL">
        <field name="mapsearchenabled"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="mapsearchprompt"
               type="text"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_PROMPT_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_PROMPT_DESC"
               showon="mapsearchenabled:1"/>

        <field name="mapsearchzoom"
               type="shacklocations.zoom"
               layout="joomla.form.field.list-fancy-select"
               default="12"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_ZOOM_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_ZOOM_DESC"
               showon="mapsearchenabled:1"/>

        <field name="resultradius"
               type="list"
               layout="joomla.form.field.list-fancy-select"
               default="15"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_RADIUS_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_RADIUS_DESC"
               showon="mapsearchenabled:1">
            <option value=".1">0.1</option>
            <option value=".2">0.2</option>
            <option value=".5">0.5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </field>

        <field name="searchassist"
               type="text"
               label="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_ASSIST_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_MAP_SEARCH_ASSIST_DESC"
               size="40"
               showon="mapsearchenabled:1"/>
    </fieldset>

    <fieldset name="locations" label="Locations">
        <field name="marker"
               type="media"
               label="COM_FOCALPOINT_FORM_CONFIG_MARKER_LBL"
               default="images/markers/pins/style4/red.png"
               description="COM_FOCALPOINT_FORM_CONFIG_MARKER_DESC"
               required="true"
               directory="markers"/>

        <field name="showmarkers"
               type="radio"
               default="1"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               label="COM_FOCALPOINT_FORM_CONFIG_SHOW_MARKERS_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_SHOW_MARKERS_DESC">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="getdirections"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_GET_DIRECTIONS_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_GET_DIRECTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="hideintrotext"
               type="radio"
               class="btn-group btn-group-yesno"
               layout="joomla.form.field.radio.switcher"
               default="1"
               label="COM_FOCALPOINT_FORM_CONFIG_HIDE_INTRO_LBL"
               description="COM_FOCALPOINT_FORM_CONFIG_HIDE_INTRO_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules"
               type="rules"
               component="com_focalpoint"
               class="inputbox"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component"/>
    </fieldset>
</config>
